{% extends 'base.html' %}

{% block content %}
    <p></p>
    <H1>Description</H1>
    <hr/>
    <h2>{% block title %} Generate inspection Excel report {% endblock %}</h2>
    <hr/>
    <form action="{{ url_for('run_script') }}" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">inspection_path (path)</label>
          <input type="file" id="filepicker" name="inspection" name="fileList" webkitdirectory multiple />
          <ul id="listing"></ul>
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">damage_analysis_dataset_path (path)</label>
            <input type="text" class="form-control" name="damage">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">config-path (path)</label>
            <input type="text" class="form-control"  name="config">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">dataset-names (string)</label>
            <input type="text" class="form-control" name="dataset">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">xlsx-template-path (path)</label>
            <input type="text" class="form-control"  name="xlsx">
            <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">bulk-generation (bool)</label>
            <input type="text" class="form-control" name="bulk">
            <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock %}